@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "tailwindcss";

@theme {
    --font-nunito: "Nunito", sans-serif;
}

.spoiler {
    filter: blur(4px);
    transition: filter 0.1s ease-out;
    cursor: pointer;
    user-select: none;

    &._show {
        filter: blur(0px);
        cursor: text;
        user-select: text;
    }
}

article ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article ol {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article a {
    text-decoration: underline;
}

article p {
    display: inline;
}
