@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "tailwindcss";

@theme {
    --font-nunito: "Nunito", sans-serif;
}

article ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article ol {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article a {
    text-decoration: underline;
}

article p {
    display: inline;
}
